<section class="main">
    <div class="main__div">
        <img src="../../assets/primerImgMain.png" alt="imagenMain" class="main__div-img1">
        <div class="main__div">
            <img src="../../assets/SegundaImgMain.png" alt="ImagenMain" class="main__div-img2">
            <img src="../../assets/tercerImgMain (2).png" alt="ImagenMain" class="main__div-img3">
        </div>
    </div>

    <div class="main__div2">
        <h1 class="main__div2-parrafo1">Wait! Your Order In Progress.</h1>
        <p class="main__div2-parrafo2">Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>
</section>

<section class="main1">
    <div class="main1__center">
        <img src="../../assets/icono1.png" alt="ImagenIcono" class="main1__center-icono">
        <p class="main1__center-text1">Step 1: Cart Review</p>
    </div>
    <div class="main1__center">
        <img src="../../assets/icono1.png" alt="ImagenIcono" class="main1__center-icono">
        <p class="main1__center-text2">Step 2: Checkout</p>
    </div>
    <div class="main1__center">
        <img src="../../assets/icono2.png" alt="ImagenIcono" class="main1__center-icono">
        <p class="main1__center-text3">Step 3: Special Offer</p>
    </div>
    <div class="main1__center">
        <img src="../../assets/icono3.png" alt="ImagenIcono" class="main1__center-icono">
        <p class="main1__center-text4">Step 4: Confirmation</p>
    </div>
</section>

<section class="main2">
    <div class="main2__div">
        <img src="../../assets/img.png" alt="imgcenter" class="main2__div-img">
        <div>
            <img src="../../assets/imgPhoto.png" alt="imgPhoto" class="main2__div-img2">
            <img src="../../assets/name.png" alt="imgName" class="main2__div-img3">
        </div>
        <p class="main2__div-text">"As soon as the Clarifions arrived I put one in my bedroom. This was late in the afternoon. When I went to the bedroom in the evening it smelled clean. When I went to bed I felt I could breathe better. Wonderful.”</p>
    </div>

    <div class="main2__div1">
       <p class="main2__div1-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta accusantium ullam consequuntur rem adipisci consectetur est, quisquam quidem quaerat architecto asperiores tenetur autem. Deleniti, ullam laborum. Cumque, exercitationem animi. Quia!</p>
       <img src="../../assets/img main2.png" alt="imgCenter" class="main2__div1-img">
    </div>
</section>