.marks{
    &__primary {
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        padding: 10px;
        &-clarifion {
            width: 192px;
            height: 36px;
            padding: 5px;
        }
        &-mcafee {
            width: 88px;
            height: 32px;
            padding: 0 30px;
        }
        &-norton {
            width: 82px;
            height: 32px;
        }
    }
    &__text{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-main {
            font-size: 35px;
            font-weight: 400;
        }
        &-secondary {
            font-size: 20px;
        }
    }
}

.step {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
        &-icono {
         width: 40px;
         height: 40px; 
         padding: 0 10px;     
        }
        &-textReview{
            width: 180px;
            height: 14px;
            font-weight: 400;
            line-height: 22px;

        }
        &-textCheckout {
            width: 163px;
            height: 14px;
            font-weight: 400;
            line-height: 22px;
        }
        &-textSpecial{
            font-weight: 700;
            width: 201px;
            height: 14px;
            line-height: 22px;
        } 
        &-textConfirmation {
            width: 195px;
            height: 14px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}
.section__conteiner {
    display: flex;
    justify-content: center;
    gap: 20px;
    .leftColumn {
        display: flex;
        &__img{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-clarifion {
                width: 575px;
                height: 591px;
                padding-top: 40px;
                padding-left: 40px;
                border-radius: 10px;
            }
            &-photo {
                width: 48px;
                height: 48px;
                border-radius: 100px;
                padding: 0 10px;
            }
            &-stars {
                width: 176px;
                height: 35.3px;
                padding: 0 10px;
            }
            &-text {
                width: 450px;
                height: 72px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                padding: 20px;
                text-align: justify;
            }
            &-conteiner {
                margin-right: 200px;
                margin-top: 20px;
            }
        }
    }
    
    .rightColumn {
        padding-left: 20px;
        width: 550px;
        &__text {
            &-paragraph {
                width: 398px;
                height: 34px;
                font-size: 16px;
            }
                &-primary {
                    padding-top: 45px;
                    width: 450px;
                    height: 113px;
                    font-weight: 400;
                }
                &-secundary {
                    display: flex;
                    align-items: baseline;
                    &-icon {
                        width: 10px;
                        height: 10px;
                        padding: 0 5px;
                    }
                }
            }
            &__products {
                display: flex;
                gap: 10px;
                padding-top: 20px;
                &-img {
                    width: 134px;
                    height: 134px;
                    padding-top: 0.5px;
                    border-radius: 10px;
                    background-color:rgba(44, 126, 248, 1);
                    border-radius: 10px;
                }
            }
            &__Medium {
                &-text {
                    display: flex;
                    align-items: center;
                    padding-top: 15px;
                    font-size: 16px;
                    height: 22px;
                    &-img {
                        width: 22px;
                        height: 22px;
                        padding: 0 10px;
                    }
                    &-paragraph {
                        margin: 0 !important;
                        font-family: Manrope;
                    }
                }
            }
            &__desc {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-top: 20px;
                &-img {
                    padding-top: 15px;
                }
            }
            &__textRed {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                padding: 20px;
            }
            &__icon {
                display: flex;
                align-items: center;
                &-text {
                    padding-left: 10px;
                }
            }
        }
    }
