<section class="marks">
    <div class="marks__primary">
        <img src="assets/primerImgMain.png" alt="imgmarks" class="marks__primary-clarifion">
        <div class="marks__primary">
            <img src="assets/SegundaImgMain.png" alt="imgnmarks" class="marks__primary-mcafee">
            <img src="assets/tercerImgMain (2).png" alt="imgnmarks" class="marks__primary-norton">
        </div>
    </div>

    <div class="marks__text">
        <h1 class="marks__text-main">Wait! Your Order In Progress.</h1>
        <p class="marks__text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>
</section>

<section class="step">
    <div class="step__center">
        <img src="assets/icono1.png" alt="ImagenIcono" class="step__center-icono">
        <p class="step__center-textReview">Step 1: Cart Review</p>
    </div>
    <div class="step__center">
        <img src="assets/icono1.png" alt="ImagenIcono" class="step__center-icono">
        <p class="step__center-textCheckout">Step 2: Checkout</p>
    </div>
    <div class="step__center">
        <img src="assets/icono2.png" alt="ImagenIcono" class="step__center-icono">
        <p class="step__center-textSpecial">Step 3: Special Offer</p>
    </div>
    <div class="step__center">
        <img src="assets/icono3.png" alt="ImagenIcono" class="step__center-icono">
        <p class="step__center-textConfirmation">Step 4: Confirmation</p>
    </div>
</section>

<section class="columnaIzquierda">
    <div class="main2__div">
        <img src="assets/img.png" alt="imgcenter" class="main2__div-img">
        <div>
            <img src="assets/imgPhoto.png" alt="imgPhoto" class="main2__div-img2">
            <img src="assets/name.png" alt="imgName" class="main2__div-img3">
        </div>
        <p class="main2__div-text">"As soon as the Clarifions arrived I put one in my bedroom. This was late in the afternoon. When I went to the bedroom in the evening it smelled clean. When I went to bed I felt I could breathe better. Wonderful.”</p>
    </div>
</section>

<section class="columnaDerecha">
    <div class="main2__div1">
        <div class="main2__div1-center">
            <img src="assets/imgtext.png" alt="imgtext" class="main2__div1-center-text">
        </div>
        <div class="main2__div1-img">
            <div>
                <img src="assets/img main2.png" alt="imgCenter">
            </div>
            <div>
                <p>Clarifion Air Lonizer</p>
                <img src="assets/$180.png" alt="imgnumber">
                <img src="assets/$84.png" alt="imgnumber">
            </div>

        </div>
        <div>
            <img src="assets/imgEstrellas.png" alt="imgEstrellas">
        </div>
            <div>
                <img src="assets/imgRedondo.png" alt="imgPunto">
                <p>12 left in Stock</p>
            </div>
            <div>
                <p>Simply plug a Clarifion into any standard outlet and replace bulky, expensive air purifiers with a simple.</p>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <p>Negative lon Technology may help with allergens</p>
                </div>
                <div>
                    <img src="" alt="">
                    <p>Designed for air rejuvenation</p>
                </div>
                <div>
                    <img src="" alt="">
                    <p>Perfect for every room in tall types of places.</p>
                </div>
            </div>        
    </div>
</section>